*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.navigation_bar{
	background-image: linear-gradient(to right,#a2cae8,#7dbae8,#4781ad);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}
.navmenu{
	color: white;
	font-size:20px;
	font-weight: bolder;
	transition-duration: 0.5s;

}
.navmenu:hover{
	color: black;
}
.myname{
	font-size: 30px;
	font-family: Arial Black;
	color: royalblue;
	text-shadow: 0px 0px 3px white;
	font-variant: small-caps;
}
.sect
{
	border: 2px solid black;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sect div
{
	font-size: 50px;
}
html{
	scroll-behavior: smooth;
}
.home{
/*	background-color: lightblue;*/
height: 600px;
}
.homename{
	font-size: 80px;
}
#designation
{
	font-size: 50px;
	color: orangered;
	font-variant: small-caps;
	font-weight: bolder;
}
.home div
{
	font-weight: bolder;

}